@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #070707;

  --text-primary: #f5f5f2ef;
  --text-secondary: #bebaba;

  --gold: #c39d73;
  --gold-muted: #dcc69b;
  --gold-hover: #ffd700;

  --border: rgba(195, 157, 115, 0.5);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-gold: var(--gold);
  --color-gold-muted: var(--gold-muted);
  --color-gold-hover: var(--gold-hover);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);

  --color-border: var(--border);

  --font-body: var(--font-lora);
  --font-display: var(--font-italiana);
  --font-brand: var(--font-bodoni);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .font-body {
    font-family: var(--font-body);
  }

  .font-display {
    font-family: var(--font-display);
  }

  .font-brand {
    font-family: var(--font-brand);
  }
  .luxury-link {
    @apply relative inline-flex text-text-secondary  transition-colors duration-500 opacity-50 text-lg;
  }

  .luxury-link::after {
    content: '';
    @apply absolute left-1/2 -bottom-2 h-px w-0 bg-gold transition-all duration-500;
    transform: translateX(-50%);
  }

  .luxury-link:hover {
    color: var(--text-primary);
    opacity: 0.9;
  }

  .luxury-link:hover::after {
    @apply w-full;
  }

  .luxury-button {
    @apply inline-flex items-center justify-center;
    @apply border border-[#C39D73]/50;
    @apply pl-6 pr-5 py-2;
    @apply text-base tracking-wider;
    @apply text-neutral-400;
    @apply rounded-sm;
    @apply transition-all duration-500;
  }

  .luxury-button:hover {
    @apply border-[#C39D73];
    @apply text-[#F5F5F2];
    box-shadow: 0 0 20px rgba(188, 150, 110, 0.15);
  }
  .luxury-icon {
    @apply text-text-secondary;
    @apply transition-all duration-500;
  }

  .luxury-icon:hover {
    @apply text-text-primary;
    transform: translateY(-1px) scale(1.07);
    filter: drop-shadow(0 0 8px rgba(219, 157, 86, 0.35));
  }
  .luxury-highlight {
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0.05rem;
  }

  .luxury-card {
    @apply relative overflow-hidden rounded-lg;
    @apply border border-[#C39D73]/10;
    @apply transition-all duration-700;

    box-shadow: 0 0 30px rgba(195, 158, 115, 0.07),
      inset 0 0 20px rgba(195, 157, 115, 0.03);

    background: linear-gradient(
      145deg,
      rgba(195, 157, 115, 0.05),
      rgba(255, 255, 255, 0.02)
    );
  }

  .luxury-card:hover {
    @apply border-[#C39D73]/30;
  }

  .luxury-title {
    @apply font-brand text-xs uppercase tracking-[0.5em] text-gold pb-3 border-b border-gold/40;
  }
}

body {
  background: #090909;
  color: var(--foreground);
}

body::before {
  content: '';
  position: fixed;
  inset: 0;
  pointer-events: none;

  background: radial-gradient(
    ellipse at top left,
    rgba(104, 82, 11, 0.145),
    transparent 40%
  );

  z-index: -1;
}

.hero-content {
  visibility: hidden;
}

.background-card {
  background: #0d0d0e;
  background: linear-gradient(
    242deg,
    rgb(10, 10, 10) 0%,
    rgb(14, 14, 15) 22%,
    rgb(16, 16, 16) 47%,
    rgb(19, 18, 18) 79%
  );
}
